*:not(textarea) {
    font-family: "Roboto Light", SansSerif, sans-serif;
}

html {
    box-shadow: inset 0 0 0 2000px rgba(11, 20, 28, .75);
}

body {
    height: 100vh;
    max-width: 80vw;
    min-width: 400px;
    margin: auto;
    background: url(build.jpg) center center / 2500px 1667px no-repeat fixed padding-box content-box black;
    color: white;
}

h2 {
    text-shadow: 2px 2px #5da9e8;
}

.top {
    display: flex;
    justify-items: center;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    padding: 10px;
}

#in, #out {
    width: 100%;
    height: 30vh;
}

button {
    padding: 10px;
    border-radius: 10px;
    background: #3e729c;
    color: white;
    font-weight: bold;
    border: 2px solid #5493cf;
}

button:hover {
    cursor: pointer;
    animation: jelly 0.5s;
}

@keyframes jelly {
    25% {
        transform: scale(0.9, 1.1);
    }

    50% {
        transform: scale(1.1, 0.9);
    }

    75% {
        transform: scale(0.95, 1.05);
    }
}

#credits {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 11px;
    background: #333333;
    border-radius: 5px;
    padding: 8px;
}

#credits, #credits > a {
    color: #999;
}

#credits:hover, #credits:hover > a {
    color: #ccc;
}

label {
    margin: 0 7px;
}
